<%- include("partials/header") %>

    <div class="container about-body">
        <p>
            I did not make this for me; no
            I did this because I believe that each one of us
            is indebted 
            to our fellow humans
            to leave our patch 
            better than when we found it
            and I did not do this as a means of practicing simple mongoDB, passport, bootstrap and express implementation
        </p>
    </div>

<%- include("partials/footer") %>