<%- include("partials/header") %>

<div>
    <div class="container pt-4">
        <form action="/auth/forgotPassword" method="POST">
            <div class="form-group">
                <label for="email">Enter Email Address</label>
                <input type="email" class="form-control" name="email" placeholder="jeffgoldblum@bones.ca">
            </div>
            <button type="submit" class="btn btn-dark">Reset Password</button>
        </form>
    </div>
    <% if (forgotAlert) { %>
        <div class="container alert alert-primary mt-4" role="alert">
            <%=forgotAlert.message%>
        </div>
    <% } %> 

</div>



<%- include("partials/footer") %>