<%- include("partials/header") %>

<div>
    <div class="container pt-4">
        <form action="/auth/forgotPassword" method="POST">
            <div class="form-group">
                <label for="email">Enter Email Address</label>
                <input type="email" class="form-control" name="email" placeholder="jeffgoldblum@bones.ca">
            </div>
            <button type="submit" class="btn btn-dark">Reset Password</button>
        </form>
        
        <%- include("partials/messages") %>

    </div>


</div>



<%- include("partials/footer") %>