<%- include("partials/header") %>
<div class="container pt-5">
    <div class="card">
        <div class="card-body">

            <!-- Makes POST request to /register route -->
            <form action="/auth/resetPassword/<%=token%>" method="POST">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" name="password" placeholder="*******">
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" name="passwordConf" placeholder="*******">
                </div>
                <div>
                    <button type="submit" class="btn btn-dark">Update Password</button>
                </div>
            </form>

        </div>
    </div>
</div>



<%- include("partials/footer") %>